body {
  /* height calc(100vh - 8em); */
  padding: 0;
  margin: 0;
  color: rgba(255, 255, 255, 0.75);
  font-family: 'Roboto', monospace;
  background-color: black;
}

h1{
  font-size: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
}

/* Animation */

.anim-typewriter {
  animation: typewriter 4s steps(60) 1s 1 normal both,
  blinkTextCursor 500ms steps(60) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 16em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0)
  }
  to{
    border-right-color: transparent;
  }
}
